.header-container{
	display: flex;
	width:100%;
	align-items: center;
	padding:5px;
	background-color: rgb(21, 49, 21);
	height:50px;
	color:#fff;
	justify-content: space-evenly;
	
}
.search-box{
width: 650px;
	height: 30px;
	background-color: #fff;
	/* padding:5px; */
	display: flex;
	align-items: center;
	border-radius: 5px;

	@media (max-width: 480px) {
		display: none;
	  }
}
.search-box input{
	width: 100%;
	border: none;
	padding-left: 10px;
}
.search-box input:focus{
outline: none;
}
/* .icon{
	color: black
} */
.icon-box{
	background-color: rgb(226, 194, 125);
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

